:root {
  --font-family: 'Victor Mono', monospace;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif; */
  color: #333;
  background-color: #fff;
  font-family: "Victor Mono", monospace;
  font-optical-sizing: auto;
  font-variation-settings: "wght" 400;
  font-style: normal;
  font-size: 14px;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-variation-settings: "wght" 500;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin-bottom: 1rem;
}

/* Links */
a {
  --_color: #007bff;
  color: var(--_color);
  font-variation-settings: "wght" 300;
  text-decoration: underline;
  text-underline-offset: 0em;
  text-decoration-thickness: 0.3em;
  text-decoration-skip-ink: none;
  /* text-decoration-thickness: 0em; */
  text-decoration-color: transparent;
  transition:
    font-variation-settings 0.3s ease,
    text-decoration-thickness 0.3s ease,
    text-decoration-color 0.3s ease,
    color 0.3s ease;

  &:hover {
    font-variation-settings: "wght" 700;
    text-decoration-color: color-mix(in lab, var(--_color), transparent 85%);
  }
}

figure {
  display: inline-block;
  margin: 0 var(--padding-base, 1rem) var(--padding-base, 1rem) 0;
  @media (max-width: 768px) {
    margin: 0 0 var(--padding-base, 1rem) 0;
  }
}

button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--padding-sm);
  min-width: var(--size-base);
  min-height: var(--size-base);
  padding-inline: var(--padding-sm);
}
