/* Utilities layer - utility classes */
.desc {
  font-size: 85%;
}
.ac-1 {
  --color-accent: var(--color-accent-1);
}
.ac-2 {
  --color-accent: var(--color-accent-2);
}
.ac-3 {
  --color-accent: var(--color-accent-3);
}
